.card {
  background-color: #f4ff81;
  color: darkred;
	padding: 1em 0;
	margin: 1rem;
	width: 20vw;
	min-height: 40vh;
	align-items: center;
	box-shadow: 0.5rem 0.5rem rgb(58, 53, 53);
}

.card.pink {
  background-color: rgb(245, 138, 191);
  color: black;
}

.card__content {
	display: grid;
	grid-template-rows: 4fr 2fr 1fr;
	text-align: center;
	font-weight: 100;
	overflow: hidden;
}

.card__content-text {
	fo: ellipsis;
	overflow: hidden;
	grid-row-start: 1;
	min-height: 10vh;
}

.card__content-emoji {
	font-size: 3rem;
	grid-row-start: 2;
	min-height: 10vh;
}

.card__content-text,
.card__content-emoji {
	padding: 0;
	margin: 0;
}

.card__delete_div {
	grid-row-start: 3;
	min-height: 5vh;
}

.card__delete {
	width: 50%;
	margin-top: auto;
	align-self: center;
	font-family: 'Permanent Marker', Helvetica, sans-serif;
}

.card__delete:hover {
  background-color:black;
  color: white;
}

.board--header {
  display: inline block;
}