.card {
	background-color: #f4ff81;
	padding: 1em 0;
	margin: 0.5rem;
	width: 20vw;
	min-height: 40vh;
	align-items: center;
	box-shadow: lightpink;
}

.card.pink {
	background-color: hotpink;
}

.card__content {
	display: grid;
	grid-template-rows: 4fr 2fr 1fr;
	text-align: center;
	font-weight: 100;
	overflow: hidden;
}

.card__content-text {
	fo: ellipsis;
	overflow: hidden;
	grid-row-start: 1;
	/* min-height: 60%; */
}

.card__content-emoji {
	font-size: 3rem;
	grid-row-start: 2;
	/* min-height: 30%; */
}

.card__content-text,
.card__content-emoji {
	padding: 0;
	margin: 0;
}

.card__delete_div {
	grid-row-start: 3;
	min-height: 10%;
	/* display: flex; */
}

.card__delete {
	/* position: absolute; */
	/* bottom: 5%; */
	/* float: bottom; */
	width: 50%;
	margin-top: auto;
	align-self: center;
	font-family: 'Permanent Marker', Helvetica, sans-serif;
}
