.dd-container{
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 130px;
  margin: 30px;
}

.dd-header__title {
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  margin: 0;
  padding: 5px;
}

.dd-header:focus {
  outline: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

li {
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  border-bottom: 1px solid #ccc;
}

li button {
  font-size: 15px;
  background-color: #222;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  display: block;
  width: 200px;
}

li button:hover {
  font-size: 20px;
}

.header__text {
  padding: 1rem;
  font-size: 35px;
  display: inline-block;
  background-color: #222;
  color: white;
  text-transform: uppercase;

  transform: rotate(-3deg) skew(-3deg);
}