/* The Modal (background) */

.new-card-form {
  width: 40%;
  margin: auto;
  padding-bottom: 4rem;
}

.new-card-form__header {
  text-align: center;
  text-transform: uppercase;
}

.new-card-form__form {
  font-size: 1.5em;
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  border: black dotted 0.2rem;
  padding: 3rem;
}

.new-card-form__form-label  {
  grid-column: labels;
  grid-row: auto;
}

.new-card-form__form-select,
.new-card-form__form-textarea,
.new-card-form__form-button {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  grid-column: controls;
  grid-row: auto;
  height: 2rem;
}

.new-card-form__form-button {
  background-color: inherit;
  border: 1px solid black;
  font-size: 1em;
  font-weight: bolder;
}

.new-card-form__form-button:hover {
  background-color:black;
  color: lemonchiffon;
}

.header__text {
  font-family: 'Permanent Marker', Helvetica, sans-serif;
  padding: 1rem;
  font-size: 35px;
  display: inline-block;
  background-color: #222;
  color: white;
  text-transform: uppercase;
  transform: rotate(-3deg) skew(-3deg);
}